
body {
  background-image: url("../img/background.png") !important;
  background-repeat: repeat !important;
  background-color: #073642 !important;
  color: #073642;
  /* margin: 15px; */
  padding: 0px;
}

caption {
  color: #073642;
  font-weight: 900;
}

.end-month, .start-month {
  display: none;
}

div.overlay {
  background-color: #333;
  opacity: 0.8;
  position: absolute;
  left: 0px;
  margin-top: 0px;
  top: 60px;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-title {
  margin: 50px auto 0;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.overlay-help {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

div.header-global {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 2000;
  border-bottom: 1px solid gray;
}

div.headrow {
  width: 100%;
  top: 0;
  display: block;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 78px !important;
  background-color: white;
}

div.outer {
  top: 60px !important;
  position: absolute;
  padding: 5px;
  margin: 0px;
  width: 100%;
}

div.outer-container {
  background-color: #fff !important;
  border: 1px solid #586e75;
  border-radius: 3px;
  margin: 0px;
}

div.main {
  border: 1px solid #586e75;
  border-radius: 1px;
  background-color: #eef;
  padding-top: 5px;
  margin: 5px;
}

div.left{
  clear: both;
  padding: 10px;
  margin-left: 5px;
}

div.right {
  clear: both;
  padding: 10px;
  margin-top: -30px;
  margin-left: 5px;
}

div.bottom {
  clear: both;
  border: 1px solid #586e75;
  border-radius: 1px;
  padding: 0px;
  margin: 5px;
}

.replay {
  margin-top: 20px;
  /* padding: 3px; */
  display: none;
  text-align:right;
  float:right;
}

.report {
  display: none;
  margin-right: 10px;
  clear: both;
}

.report-heading-row, .report-contents-row {
  margin: 0px 10px 20px 10px;
  /* width: 100%; */
  clear: both;
}

.report-heading {
  height: 56px;
  clear: both;
  float: left;
}

.report-contents-tabs, .report-data-tabs {
  padding: 5px 0px 0px 0px;
}

.report table {
  /*border: 1px solid #000 !important;*/
}

.report td, .report th {
  padding: 2px;
  /* border: 1px solid #000 !important; */
}

.data-canvas {
  width: 97.5vw !important;
  height: auto !important;
  display: block;
}

td.algo {
  color: #073642;
  padding-left: 2px;
  padding-right: 2px;
  width: 250px;
}

td.bits {
  color: #073642;
  padding-left: 2px;
  padding-right: 2px;
  width: 50px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 1px;
}

.bs-test {
  padding: 8px;
  margin: 8px 0;
  background-color: #ffffff;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px
}

.bs-callout p:last-child {
  margin-bottom: 0
}

.bs-callout code {
  border-radius: 1px
}

.bs-callout+.bs-callout {
  margin-top: -5px
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-danger {
  border-left-color: #d9534f
}

.bs-callout-danger h4 {
  color: #d9534f
}

.bs-callout-warning {
  border-left-color: #f0ad4e
}

.bs-callout-warning h4 {
  color: #f0ad4e
}

.bs-callout-info {
  border-left-color: #5bc0de
}

.bs-callout-info h4 {
  color: #5bc0de
}

.bs-callout-success {
  border-left-color: rgb(92, 184, 92);
}

.bs-callout-success h4 {
  color: rgb(92, 184, 92);
}

.form-group {
  margin-bottom: 7px;
}

.logo {
  max-width: 124px;
  width: 100%;
  margin-top: 1.05rem;
  display: inline-block;
  float: left;
}

.logo svg {
  /*max-height: 40px !important;*/
}

.logo a {
  display: block;
}
